body { 
  padding-top: 60px;
  font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;
}

.navbar-custom {
  background-color: #30415d;
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
}

h4, a {
  color:#cf6766;
}

.panel {
  background-color: #8eaebd;
}

.panel-body p {
  margin: 5px 0 5px;
}

.tweet-group {
  height: 39px;
}