<!DOCTYPE html>
<html lang="en" ng-app="moodApp">
<head>
  <meta charset="UTF-8">
  <title>Mood Tweets</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="oauth.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>  
</head>

<body>
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">MOOD TWEETS</a>
      </div>
    </div>
  </nav>

  <div ng-controller="HomeController as ctrl">
    <div class="container">
      <div class="row">

        <div class="col-sm-4" id="top">
          <h4>I'm feeling...</h4>

          <div class="row">

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('adventurous'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/adventurous.png" alt="adventurous">
                  <p>Adventurous</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('bored'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/bored.png" alt="bored">
                  <p>Bored</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('stressed'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/stressed.png" alt="stressed">
                  <p>Stressed</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('uninspired'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/uninspired.png" alt="uninspired">
                  <p>Uninspired</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('sad'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/sad.png" alt="sad">
                  <p>Sad</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('patriotic'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/flag.png" alt="flag">
                  <p>Patriotic</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('anxious'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/anxious.png" alt="anxious">
                  <p>Anxious</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default" ng-click="ctrl.showTweets('wolflike'); ctrl.gotoTweets()">
                <div class="panel-body text-center">
                  <img src="images/wolf.png" alt="wolf">
                  <p>Wolf-like</p>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="col-sm-8">
          <div class="tweet-group" id="tweets"></div>

          <div class="row">
            <div ng-repeat="tweet in ctrl.tweets | filter: ctrl.photoFilter">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                  <a href="https://twitter.com/statuses/{{ tweet.id_str }}" target="_blank"><img ng-src="{{ tweet.entities.media[0].media_url }}:thumb"></a>
                </div>
              </div>
            </div>
          </div>

          <a ng-if="ctrl.tweets.length > 0" ng-click="ctrl.gotoTop()">Back to top</a>

        </div>
      </div>
    </div>
  </div>
</body>
</html>